/* Global properties ======================================================== */
html, body {
	width:100%;
	padding:0%;
	margin:0;
}
#s2{
	background: linear-gradient(to bottom, #1a1a1a, #5f5f5f, #868585);
}

body {
    font: 14px/18px Arial, Helvetica, sans-serif;
    color: #ffffff;
    min-width: 960px;
    margin: 0;
    padding: 0;
	background: linear-gradient(to bottom right, rgba(48, 226, 20, 0.5), #09025480, rgba(249, 248, 248, 0.5)); 
	
}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, header, hgroup, keygen, meter, output, progress, section, source, video{
	display: block;
	background:rgb(213, 213, 225) ;
	color: #0044ff;
	}

li:hover {
		background-color: #e46767; 
	}

.current{
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	padding: 1px;
	
}

.gender-options label {
    display: block;
    margin-bottom: 5px;
}

.gender-options label input {
    vertical-align: middle;
    margin-right: 5px;
}

.main {
	width:960px;
	margin:0 auto;
}
/***********************************************************************/
a {
	text-decoration:none;
	cursor:pointer;
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}

.link {
	color:#85a09d;
	text-decoration:underline;
}
.link:hover {
	text-decoration:none;
}
.link-1 {
	color:orangered;
	text-transform:uppercase;
	text-decoration:underline;
	font-size:11px;
	line-height:18px;
	font-weight:bold;
	display:inline-block;
}
.link-1:hover {
	text-decoration:none;
}
.clr-1 {
	color:#85a09d;
}
.text-1 {
	font-size:14px;
	line-height:18px;
	color:#703604;
	font-weight:bold;
}
.text-2 {
	font-size:11px;
	line-height:18px;
	color:#6a4c31;
	font-weight:bold;
	text-transform:uppercase;
}
h2 {
	font-size:36px;
	line-height:45px;
	color:#ef8527;
	font-weight:normal;
	font-family: 'Passion One', cursive;
}
h2.h2-1 {
	line-height:34px;
	color:#793101;
	text-transform:uppercase;
	display:block;
	border-bottom:#d2d9d8 2px solid;
	border-top:#d2d9d8 2px solid;
	text-align:center;
}
h2.h2-2 {
	line-height:34px;
	display:inline-block;
	border-bottom:#000807 2px solid;
	border-top:#000000 2px solid;
	text-align:center;
	margin-bottom: 20px;
}
h2.h2-3 {
	line-height:34px;
	color:#85a09d;
	text-transform:uppercase;
	display:block;
	border-bottom:#d2d9d8 2px solid;
	border-top:#d2d9d8 2px solid;
	text-align:left;
}
h2.h2-4 {
	line-height:34px;
	display:block;
	border-bottom:#d2d9d8 2px solid;
	border-top:#d2d9d8 2px solid;
	text-align:left;
}
h3 {
	font-size:16px;
	line-height:20px;
	color:#85a09d;
	font-weight:800;
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
}
h3>span {
	display:block;
	margin-top:-2px;
}


ol.list-1 {
    counter-reset: item;
    list-style-type: none;
    font-size: 18px;
    line-height: 40px;
    color: #160101;
	    align-items: flex-start; 
		text-align: center;

}

ol.list-1 li {
    counter-increment: item;
    margin-bottom: 10px;
    display: flex; 
    align-items: center;
}
ol.list-2 {
	line-height: 40px;
	font-size: 18px;
	color: rgb(0, 0, 0);
	margin-right: 0%;
	text-align: center;
}

.piloto-img {
    width: 40px; 
	height: 30px;
    margin-right: 10px; 
	align-items: center; 

}
.bandera-img {

		width:45px; 
		height: 30px;
		margin-right: 10px; 
		align-items: center; 
	
	}


	.escudo-img {

		width:60px; 
		height: 40px;
		margin-right: 10px; 
		align-items: center; 
	
	}


/******************************************************************/
.clear {
	clear:both;
	line-height:0;
	font-size:0;
	width:100%;
}
.wrapper {
	width:100%;
	overflow:hidden;
	position:relative
}
.wrap {
	overflow:hidden;
	position:relative
}
.extra-wrap {
	overflow:hidden;
	font-size: 12px;
	color: #050000;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.img-indent {
	float:left;
	margin:5px 10px 0px 0;
}
.line-height {
	line-height:18px;
}
.last {
	margin-right:0px !important;
	padding-right:0px !important;
}
.align-r {
	text-align:right;
}
.align-c {
	text-align:center;
}
.upper {
	text-transform:uppercase;
}
.top {
	padding-top:0px;
}
.top-1 {
	padding-top:25px;
	background-color: #a9a3ec80;



}

.top-3 {
	padding-top:28px;
	background:#f3dada;
}
.top-4 {
	padding-top:28px;
	text-align: center;
	color:#072905
}
.top-5 {
	margin-top:12px;
}
.top-6 {
	margin-top:49px;
}
.top-7 {
	margin-top:23px;
}
.left-1 {
	margin-left:0px;
}
.right-1 {
	margin-right:0px;
}
.bot-0 {
	padding-bottom:0 !important;
	margin-bottom:0 !important;
}
.pad-1 {
	padding-top:30px;
	padding-bottom:30px;
}
.p1 {
	padding-bottom:18px;
}
.p2 {
	padding-bottom:11px;
	color: #175c03;
}
.p3 {
	padding-bottom:9px;
	text-align: center;
}
.p4 {
	padding-bottom: 15px;
	color: rgb(0, 0, 0);
	background: linear-gradient(to bottom right, rgba(96, 95, 95, 0.5), rgba(25, 156, 25, 0.5), rgba(183, 183, 217, 0.5)); 
  }
  
  
/*********************************header*************************************/
header {
	width:960px;
}
h1 {
	display:inline-block;
	z-index:1111;
	margin:31px 0 23px 264px;
	width:433px;
	background:url(../images/logo-bg.png) 0 28px no-repeat;
}
h1 a {
	display:inline-block;
	margin-left:114px;
}
.header-block {
	width:950px;
	margin:0 auto;
	background:url(../images/header-bg.jpg) center 0 no-repeat;
	box-shadow:0 -7px 7px rgba(0, 0, 0, 0.1);
}


ul.menu {
    margin: 0; 
    padding: 20px;
    list-style: none;
    display: flex; 
    justify-content: center; 
    background-image: url('../images/estadio.jpg'); 
    background-size: cover; 
    background-position: center; 
	border-bottom: 10px solid #000; 
    height: 200px; 
}

ul.menu li {
    float: left;
    position: relative;
    width: 140px;
    height: 200px;
    text-align: center;
    text-transform: uppercase;
    background-color: #ced7ee74;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.menu li a{
	color: #000000;
	vertical-align: middle;
}
ul.menu li:hover {
    background-color: rgb(10, 1, 1); 
	color: #ffffff;
	border-bottom: 1px solid #000; 
}
ul.submenu {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    padding: 0;
	border-bottom: 1px solid #000; 
}
ul.menu li:hover .submenu {
    display: block;
}
ul.submenu li {
    width: 140px;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul.submenu li:hover {
    background-color: rgb(125, 14, 14); 
}
.slider-banner {
	position:absolute;
	right:0;
	top:0;
	display:inline-block;
	z-index:9999;
}


*********************************content*************************************/
#content {
	padding-bottom:24px;
	width:960px;
}
.cycle {
	background-color: #868585;
}
.img-border {
	border:#e6a9a9 1px solid;
	color: #0b0a40;
	background: linear-gradient(to bottom right, rgba(96, 95, 95, 0.5), rgba(25, 156, 25, 0.5), rgba(183, 183, 217, 0.5)); 
}
.box-1 {
	overflow:hidden;
	border-bottom:#d2d9d8 2px solid;
	padding-bottom:26px;
	margin-top:29px;
	margin-bottom:21px;
	color: #000700;
}
.box-1 div {
	float:left;
	width:150px;
	margin-right:60px;
	margin-left: 20px;
}
.box-1 div .text-1 {
	margin :11px 0 7px 0;
}
.box-1 div .link-1 {
	margin-top:8px;
}


  
  .testimonials-block p {
	margin-bottom: 10px;
  }
  
.testimonials>strong {
	display:block;
	font-size:12px;
	line-height:15px;
	font-style:italic;
	color: #2c7e29;
	font-weight: bold;
}
.testimonials-block {
	background:#bbebdf;
	font-size:12px;
	line-height:18px;
	color:#ab5b15;
	font-weight:bold;
	padding:12px 24px 15px 18px;


}
.corner {
	position:absolute;
	width:23px;
	height:24px;
	right:88px;
	bottom:-24px;
	background:url(../images/corner.png) 0 0 no-repeat;
}
.box-2 {
	overflow:hidden;

}
.box-2 p {
	padding-bottom:12px;
}
.box-2 strong {
	font-size:14px;
	color:#7b084d;
}
.box-2 span {
	font-size:11px;
	line-height:16px;
	text-transform:uppercase;
	color:#5c34ca;
}
.box-3 {
	overflow:hidden;
	margin-top:21px;
}
.box-3>div {
	float:left;
	width:190px;
	margin-right:10px;
}
.box-3>div>strong {
	width:70px;
	height:60px;
	display:block;
	float:left;
	margin:0px 10px 0 0;
	text-align:center;
	color:#000000;
	font-size:24px;
	line-height:30px;
	font-weight:normal;
	padding-top:10px;
}
.box-3-1>strong {
	background:url(../images/citculoitalia.png) 0 0 no-repeat;

}
.box-3-2>strong {
	background:url(../images/circuloespana.png) 0 0 no-repeat;
	color: #000000;
}
.box-3-3>strong {
	background:url(../images/circulofrancia.png) 0 0 no-repeat;
	color:#000000 !important;
}
.box-3>div>strong>span {
	display:block;
	font-size:16px;
	line-height:20px;
	margin-top:-5px;
}
.box-3 div.extra-wrap>span {
	display:inline-block;
	font-size:11px;
	line-height:16px;
	color:#47301c;
	text-transform:uppercase;
	font-weight:bold;
	padding:3px 0 16px 0;
}
.box-3-2 div.extra-wrap>span {
	color:#276b63;
}
.box-3-3 div.extra-wrap>span {
	color:#1f9789;
}
.box-3 div.extra-wrap>.link-1 {
	margin-top:7px;
}

.box-5 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	max-width: 1200px;
}
  
.box-5 div {
	width: 290px;
	margin-right: 10px;
	margin-bottom: 20px;
	text-align: center;
	color: #000000;
}
  
.box-5 div .text-1 {
	margin: 11px 0 7px 0;
	color: red;
}
  
.box-5 div .link-1 {
	margin-top: 8px;
	color: rgb(0, 0, 0)
}
  
/****************************footer************************/
footer {
	width:950px;
	overflow:hidden;
	margin:0 auto;
	padding:12px 0px 40px 0;
	border-top:#13ffdc 2px solid;
	text-align:center;
	color:#050000;
    background: linear-gradient(to bottom, #597ce5, #292929);

}
footer p {
	overflow:hidden;
	
}
footer strong {
    font-size: 24px;
    line-height: 30px;
    font-weight: normal;
    font-family: 'Passion One', cursive;
    display: inline-block;
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(233, 51, 51) 50%, rgb(220, 169, 169) 50%);
}

footer span {
	display:inline-block;
	margin:7px 0 0 5px;
	background: linear-gradient(to right, rgb(220, 169, 169) 50%, rgb(233, 51, 51) 50%);

}
/**********************form**********************/
.map {
	width:268px;
	height:206px;
	margin-top:30px;
}
.map iframe {
	width:268px;
	height:206px;
}
dl.adr {
	margin-top:14px;
	color: #0a0707;
	background-color: rgb(202, 202, 202);
	text-align: center;
}
#email{
	color:#ff0000;

}
dl.adr dt {
	margin-bottom:6px;
	font-size:14px;
	line-height:18px;
	color:#813d02;
	font-weight:bold;
}
dl.adr dd span {
	width:80px;
	display:block;
	float:left;
	text-align:right;
	margin-right:5px;
}
#bodyform{
	background-color: #000000;
}

#headform {
	background: rgba(0, 0, 0, 0); 
}

#asia {
	background-color: #d4beab;
	color: #000000
}
#oceania {
	background-color: #85a09d;
	color: #4f0606;
}
#europa{
	background-color: rgb(18, 20, 16);
	color: rgb(197, 197, 214);

}
#america{
	background-color: #4a4755;
	color: rgb(255, 255, 255);
}

#form {
	margin: 31px 0 0px 0px;
	width: 500px;
	text-align: left;
	color: #000000;
}

#form input[type="text"],
#form input[type="email"],
#form input[type="password"],
#form select {
	background: #420707;
	color: #ffffff;
	font: 10px;
	text-align: left;
	border: #9c9a9a;
	margin-left: 30px; 
	width: 350px; 
}

#form label strong {
	display: inline-block;
	vertical-align: text-bottom; 
	margin-bottom: 0px; 
}

#form label {
	position: relative;
	display: block;
	min-height: 20px;
	overflow: hidden;
	margin-top: 15px;
}
.btns {
	text-align:right;
	overflow:hidden;
	width:590px;
	padding-top:10px;
}
.btns a {
	display:inline-block;
	margin-left:31px;
}
#form label strong {
	float:left;
	display:block;
	padding-top:8px;
	line-height:15px;
	width:70px;
	color:#5f0808;
	white-space:nowrap;
}
#montmelo{
	color: #160101;
	background-color: #9993f6;
	text-align: center;
	
}
#ubic{
	background-color: #0f1d01;
	color: rgb(124, 224, 224);
	text-align: center;
}


  

  th {
	padding: 10px;
	color: #ffffff;
	text-align: center;
  }
#numero{
	text-align: auto;
}
#Mundial {
	color:rgb(240, 226, 29);
	background-image: linear-gradient(to left , #ff0000, rgb(0, 0, 0)); 
}
#Escuderia {
	background-image: linear-gradient(to left , #09ff00, rgb(0, 0, 0)); 

}

.box-container{
	margin-left: 30px;
}

#sepang , #noticia{
	text-align: center;
}

#pag1 {
    max-width: 50%;
    height: 200px;
    transform: scaleX(-1);
}


#titulo1{
	width: 250px;
	height: 150px;
}

.table-container {
    text-align: center;
}

.grupo-a {
    border-collapse: collapse; 
    margin: 0 auto; 
	margin-bottom: 100px;
}

.grupo-a caption {
    font-weight: bold;
}

.grupo-a th, .grupo-a td {
    border: 2px solid #000000;
    text-align: center;
    padding: 8px;
	color: #000000;
}

.grupo-a tr:nth-child(even) {
    background-color: #b4c4e2;
	vertical-align: middle; 
}

.grupo-a tr:nth-child(odd) {
    background-color: #e1f1ec;
	vertical-align: middle; 
}

.bandera-img {
    vertical-align: middle; 
    margin-right: 5px; /
}
.calendario {
    border-collapse: collapse;
    width: 100%;
}

.calendario caption {
    font-weight: bold;
    margin-bottom: 10px;
}

.calendario th, .calendario td {
    border: 1px solid #ffffff; 
    padding: 8px;
    text-align: center;
    color: #270808;
    vertical-align: middle;
}

.calendario th {
    background-color: #000000; 
    color: rgb(243, 135, 135); 
}

.calendario tr:nth-child(even) {
    background-color: #cacbd0; 
}

.calendario tr:nth-child(odd) {
    background-color: #9b9cd8; 
}

.calendario tr.dia-header {
    background-color: #6b48e8; 
}

.calendario tr:hover {
    background-color: #e46767; 
}

.calendario img {
    vertical-align: middle;
    margin-right: 5px;
}

.container_24.top-1 > div {
    margin-bottom: 80px; 
}

.grid_10.prefix_7.suffix_7.top-2 {
    margin-top: 80px;
    text-align: center;
}
.grupo {
	border-collapse: separate;
	border-spacing: 0;
	background-image: url(../images/fondoeuro.jpg);
	background-size:cover;
	opacity: 0.8;
	border-radius: 20px;
	overflow: hidden; 
	margin-bottom: 20px; 
	display: inline-block; 
	vertical-align: top; 
	width: calc(33.33% - 23px); 
	margin-right: 20px; 
	color: #000000;
	font-family: "Arial Black", Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	border: 1px solid #000000; 
}
.grupo td {
    padding: 15px;
    border-bottom: 1px solid #080000; 
	vertical-align: middle;
}
.grupo h2 {
    background: radial-gradient(circle, #ae1717, #5c5cef);
    -webkit-background-clip: text; 
    color: transparent; 
}

  
.octavos {
	display: inline-block; 

	border-spacing: 0;
	background-color: whitesmoke;
	opacity: 0.8;
	border-radius: 20px;
	overflow: hidden; 
	margin-bottom: 20px; 
	vertical-align: top; 
	margin-right: 20px; 
	color: #000000;
	font-family: "Arial Black", Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	border: 1px solid #e01a1a; 
}
.octavos td {
	padding: 20px;
	padding-top: 15px;
	border-bottom: 1px solid #080000; 
	vertical-align: middle;
}
  
.imagen-tabla {
	width: 170px;
	height: 130px;
}
  
.octavos p {
	color: blue;
	font-size: 15px;
  }

  .tarjeta {
	width: 30px;
  }
  .maximos-goleadores {
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: #cfd5e6;
  }
  
  .maximos-goleadores li {
	margin-bottom: 10px;
	font-size: 23px;
	line-height: 1.5;
  }
  
  .jugador {
	font-weight: bold;
  }
  
  .goles {
	color: #b31010; 
  }
  